spring.application.name=MailSender500

spring.mail.daily-limit=500

# ????????? H2 (???? mail_db.mv.db ???????? ? ????? ???????)
spring.datasource.url=jdbc:h2:file:./mail_db;DB_CLOSE_ON_EXIT=FALSE
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update

# ????? ?????? ??????? ? ??????? (??? ???????)
spring.jpa.show-sql=true

# ???? ? ???? (?????? 465 ??? SSL ??? 587 ??? STARTTLS)
spring.mail.host=*********
spring.mail.port=465

# ?????, ??????? ?????? ?????????? ? ???? "?? ????"
spring.mail.from=********

# ?????? ??????????? (?????? ????? ????? ? ??????)
spring.mail.username=*********
spring.mail.password=*********

# ???????? ? ?????????
spring.mail.protocol=smtp
spring.mail.default-encoding=UTF-8

# ?????????????? ???????? JavaMail
# ??????????? ssl.enable ??? ????? 465
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.ssl.enable=true
spring.mail.properties.mail.smtp.socketFactory.port=465
spring.mail.properties.mail.smtp.socketFactory.class=javax.net.ssl.SSLSocketFactory

# ???? ?????? ?????????? ???? 587 (STARTTLS), ??????????????? ???? ???? ? ??????????? ????:
# spring.mail.properties.mail.smtp.starttls.enable=true
# spring.mail.properties.mail.smtp.starttls.required=true

# ???????? (????? ?????? ?? "?????" ??? ?????? ??????????)
spring.mail.properties.mail.smtp.connectiontimeout=5000
spring.mail.properties.mail.smtp.timeout=5000
spring.mail.properties.mail.smtp.writetimeout=5000
logging.charset.console=UTF-8